<% provide(:title, 'About') %>
<h1>About VSET Auction</h1>
<p>VSET Auction is a fun way to support our summer missions program. All the money received through VSET Auction will directly help our short-term missionaries this summer. You can be a part of supporting our missionaries and joining together with God in His command to "go and make disciples of all nations" by putting up items for auction and bidding!</p>

<p>The Auction will end at 12:00am of <span style="font-weight: bold;"><%= current_auction.end_time.to_s %></span></p>
