<% provide(:title, 'About') %>
<h1>About VSET Auction</h1>
<p class="lead">VSET Auction is a fun way to support our summer missions program. All the money received through VSET Auction will directly help our short-term missionaries this summer. You can be a part of supporting our missionaries and joining together with God in His command to "go and make disciples of all nations" by putting up items for auction and bidding!</p>

<p class="lead">The Auction will end at 11:59:59pm of <span style="font-weight: bold;"><%= (current_auction.end_time - 1.day).to_s %></span></p>
