<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>How to bid:</p>
<ul>
  <li>Must bid at least the minimum amount</li>
  <li>May only increase the bid by at least the minimum increment amount</li>
  <li>Commenting on auction items is only possible if you bid :)</li>
</ul>

<p>If you are experiencing any problems, please visit the <%= link_to 'contact page', contact_path %> and let us know in detail what the problem is!</p>
