<div class="center hero-unit">
  <h1>VSET Auction 2014</h1>
  <h2>This is the homepage for the VSET Auction</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
