<% provide(:title, @auction.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @auction.name %></h1>
      <%= link_to "Enter auction", auction_items_path, class: "btn btn-large btn-primary" %>
    </section>
  </aside>
</div>

