<% provide(:title, @auction.name) %>
<div class="center hero-unit">
  <h1><%= @auction.name %></h1>
  <h2>Fight the good fight and bid as if to win the prize!</h2>
  <%= link_to "Enter auction", auction_items_path, class: "btn btn-large btn-primary" %>
</div>

