<% provide(:title, @auction.name) %>
<div class="center hero-unit">
  <h1><%= @auction.name %></h1>
  <%= link_to "Enter auction", auction_items_path, class: "btn btn-large btn-primary" %>
  <p class="btn-description">(or click 'VSET AUCTION' logo on top left)</p>
</div>

