<% if @auction_item.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@auction_item.errors.count, "error") %>.
    </div>
    <ul>
    <% @auction_item.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

