<li>
  <%= link_to auction_items.name, auction_item %>
  <% if current_user.admin? %>
    | <%= link_to "delete", auction_item, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li> 

