<% provide(:title, 'Auction Items') %>
<h1>Auction Items</h1>

<%= render 'shared/category_menu' %>

<%= will_paginate %>
      
<ul class="users"> 
  <%= render @auction_items %> 
</ul>
    
<%= will_paginate %>

