<% provide(:title, 'Auction Items') %>
<h1>Auction Items</h1>

<div class="span2">
  <%= render 'shared/category_menu' %>
</div>

<div class="span6">
<%= will_paginate %>
      
<ul class="users"> 
  <%= render @auction_items %> 
</ul>
    
<%= will_paginate %>
</div>
