<p>Hello <%= @user.name %>,</p>
<p>
  Your password has been reset! 
  Email: <%= @user.email %><br>
  Password: <%= @new_password %>
</p>
<p style="font-weight: bold">
  Please change your password immediately by following this link: <%= @url %>.
</p>
